@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');


html,
body,
#root,
.main,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

:root {
  --color1: #1D76F7;
  --color2: #CB2DC9;
  --color3: rgb(213, 73, 26);
  --color4: #14127a;
  --color5: #e4f2f2;
  --color6: #1fda29;
  --color7: #cff0d0;
  --color8: #919191;
  --color9: green;
  --color10: #670303;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background-color: #555;
}


